<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Pleas enter your email address:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
    <ion-button size ="small" (click)="forgotPass()" type="submit" color="danger" expand="block" >confirm</ion-button>
  <ion-row>
  <p>We will send a security code to your email address.</p>
  </ion-row>
</ion-content>
<ion-footer>


  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button size ="small" (click)="goTo()" type="submit" color="danger" expand="block" >back</ion-button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
