.avatar{
  width:100% !important;
  height : 100% !important;
  max-width: 140px !important;  //any size
  max-height: 140px !important;
  position: relative;
}

.Description{
  text-decoration: underline;
  font-size: 14px;
  right: 260px;
  top: 280px;
}

.Username{
  font-size: 25px;
  text-decoration: underline;
  position: relative;
  top: 0px
}

.header{
  font-size: 20px;
}

.line{
  width: 150px;
}

.Followers{
  font-size: 20px;
}

.Following{
  font-size: 20px;
}

.Description{
  text-decoration: underline;
  font-size: 14px;
}

.button{
  position: relative;
  width: 130px;
  height: 15px;
}

.DescriptionText{

}

.PostsSection{
  top: 330px;

}
